#container {
    width: 50vw;
    height: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5vw;
    border-bottom: 5vw solid red;
    border-left: 5vw solid red;
    border-right: 5vw solid red;
    border-top: 5vw solid red;
}

#container div {
    float: left;
}